VITE_API_URL=http://localhost:8000/api/v1
VITE_STORE_DOMAIN_SUFFIX=komi.shop
# Cloudinary Dashboard > Settings > Upload > Add upload preset > Signing Mode: Unsigned
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
